/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
	
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of Eric Meyer's CSS Reset */

html {
	background: url('../i/bg.jpg') center 0;
}

body {
	font: normal normal 14px/1 'PT Sans Narrow', Arial, sans-serif;
	width: 100%;
	height: 100%;
	color: #edb27d;
	background: url('../i/bg-vegetables.png') center 0 no-repeat;
}
.clr {

}
.clr:after,.row:after{
	content: '';
	clear: both;
	display: table;
	visibility: hidden;

}
.wrapper {
	width: 996px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;

}


a {
	color: #edb27d;
}


@font-face {
	font-family:'NovitoNova-Regular';
	src: url('../fonts/novitonova/NovitoNova-Regular_gdi.eot');
	src: url('../fonts/novitonova/NovitoNova-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/novitonova/NovitoNova-Regular_gdi.woff') format('woff'),
		url('../fonts/novitonova/NovitoNova-Regular_gdi.ttf') format('truetype'),
		url('../fonts/novitonova/NovitoNova-Regular_gdi.svg#NovitoNova-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-0491;
}


/* Header */
header {
	position: relative;
	margin-bottom: 30px;
	
}

.b__logo{
	width: 294px;
	height: 124px;
	display: block;
	margin: 0 auto 12px;
	padding-top: 60px;
	position: relative;
	left: -4px;
}

.logo__img{

}

.b__mode{
	font-family:'NovitoNova-Regular';
	color:#fff;
	text-transform: uppercase;
	background: url('../i/bg-mode.png') 0 0 no-repeat;
	width: 174px;
	height: 158px;
	position: absolute;
	top:99px;
	left:2px;
	z-index: -1;
}

.mode__title,
.mode__item{
	text-indent: -9000px;
}
.b__phone{
	color:#fff;
	font-family:'NovitoNova-Regular';
	text-transform: uppercase;
	background: url('../i/bg-phone.png') 0 0 no-repeat;
	width: 175px;
	height: 85px;
	position: absolute;
	top:170px;
	right:0;
	text-indent: -9000px;
	background-size: cover;
	transition:all ease-out 0.1s;
}

.b__phone:hover{
	transform: rotate(3deg);
}


.b__soc{
	color:#dcd39d;
	font-family:'NovitoNova-Regular', Arial, sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	background: url('../i/bg-soc.png') 0 0 no-repeat;
	width: 71px;
	height: 68px;
	position: absolute;
	top:81px;
	right:62px;
	background-size: cover;
	transition:all ease-out 0.1s;
}

.b__soc:hover{
	transform: rotate(3deg);
}

.soc__in{
	display: inline-block;
	width: 37px;
	height: 36px;
	position: absolute;
	top: 32px;
	left: 0;
}

.soc__vk{
	display: inline-block;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 38px;
	right: 0;
}

.b__nav-top{
	border:dashed 2px #41681a;
	border-radius: 20px/16px;
	box-shadow: 0 1px 1px #000;
	width:614px;
	margin: 0 auto;
	padding: 5px 0;
	text-align: center;

}
.nav__list {
	display: inline-block;
}
.nav-top__item{
	float: left;
	margin: 0 0 0 23px;
}

.nav-top__item:first-child{
	margin-left: 0;
}

.nav-top__link{
	font-family:'NovitoNova-Regular', Arial, sans-serif;
	font-size: 34px;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	letter-spacing: 1px;
	text-shadow:0 0 2px rgba(0,0,0,.36);
}

.nav-top__item.active,
.nav-top__link:hover{
	color: #62a328;
}



main {
	min-height: 170px;
	padding-bottom: 60px;
}

.b-slider{
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);
	position: relative;
	margin-bottom: 52px;
}

.slider__list{

}

.slider__item{
	line-height: 0;
	display: none;
}

.slider__item:first-child{
	display: block;
}


.slider__link{

}

.slider__img{

}



/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

.rslides_nav {
	position: absolute;
	top:44%;
	display:block;
	width: 24px;
	height: 48px;
	z-index: 20;
	background: url('../i/icons-sprite.png') 0 0 no-repeat;
}

.rslides_nav.prev{
	left:0;
	background-position: -24px 0;
}

.rslides_nav.next{
	right:0;
	background-position: 0 0;
}

.rslides_tabs{
	position: absolute;
	bottom: -25px;
	text-align: center;
	width: 100%;
	line-height: 0;
}


.rslides_tabs li{
	display: inline-block;
	border-radius: 50%;
	height: 10px;
	width: 10px;
	text-align: center;
	margin: 0 3px;
	border:solid 1px #f0e5af;
	line-height: 0;
}

.rslides_tabs li a{
	text-indent: -9000px;
	font-size: 0;
	line-height: 0;
	display: inline-block;
	vertical-align: middle;
	margin:2px;
	width: 6px;
	height: 6px;
	border-radius: 50%;
}

.rslides_here a {
	background-color: #2b858c;
}







.b-novelty{

}

.b-novelty img.header{
	margin-bottom: 24px;
}

.meal__item{
	text-align: center;
	float: left;
	/*TODO*/
	width:227px;
	margin-left: 11px;
	margin-right: 11px;
	margin-bottom: 35px;
}

.meal__foto-wr{
	margin-bottom: 20px;
	display: block;
}

.meal__foto{
	width: 224px;
	height: 180px;
	border-radius: 115px 109px / 65px;
	box-shadow: -2px 5px 16px rgba(0,0,0,.45);

}

.meal__title{
	font-size: 20px;
	color: #fff;
	text-transform: uppercase;
	margin-bottom: 10px;
	letter-spacing: 1px;
}

.meal__link{
	color: #fff;
	text-decoration: none;
}
.meal__link:hover{
	text-decoration: underline;
}

.meal__description{
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 1px;
	color: #edb27d;
	margin-bottom: 10px;
}

.meal__price{
	letter-spacing: 1px;
	font-size: 20px;
}

.meal_price-value,
.meal_price-currency{
	text-transform: uppercase;
	color: #fff;
	font-size: 24px;
}



.meat__weight{
	font-size: 14px;
	color: #edb27d;
}








h1.header,
h2.header{
	text-indent: -9000px;
	text-align: center;
}

img.header,
.about-img-1{
	margin: 0 auto;
	display: block;
}

.b-about h1{

}

.about__link{
	margin-top: -63px;
	display: block;
	text-align: center;
}









.b-meat-order{

}

.meat-group{

}

.col-md-6 col-sm-12{

}

.opt-quontity{

}

.quont-minus{

}

.quont-plus{

}

.meal-wrapper{

}

.meal__foto{

}

.meal__title{

}

.meal__description{

}

.meal__price{

}

.meal_price-value{

}

.meal_price-currency{

}

.meat__weight{

}

.col-md-6 col-sm-12{

}

.opt-quontity{

}

.quont-minus{

}

.quont-plus{

}

.meal-wrapper{

}

.meal__foto{

}

.meal__title{

}

.meal__description{

}

.meal__price{

}

.meal_price-value{

}

.meal_price-currency{

}

.meat__weight{

}

.col-md-6 col-sm-12{

}

.opt-quontity{

}

.quont-minus{

}

.quont-plus{

}

.meal-wrapper{

}

.meal__foto{

}

.meal__title{

}

.meal__description{

}

.meal__price{

}

.meal_price-value{

}

.meal_price-currency{

}

.meat__weight{

}

.col-md-6 col-sm-12{

}

.opt-quontity{

}

.quont-minus{

}

.quont-plus{

}

.meal-wrapper{

}

.meal__foto{

}

.meal__title{

}

.meal__description{

}

.meal__price{

}

.meal_price-value{

}

.meal_price-currency{

}

.meat__weight{

}

.meat-group{

}

.col-md-6 col-sm-12{

}

.opt-quontity{

}

.quont-minus{

}

.quont-plus{

}

.meal-wrapper{

}

.meal__foto{

}

.meal__title{

}

.meal__description{

}

.meal__price{

}

.meal_price-value{

}

.meal_price-currency{

}

.meat__weight{

}

.col-md-6 col-sm-12{

}

.opt-quontity{

}

.quont-minus{

}

.quont-plus{

}

.meal-wrapper{

}

.meal__foto{

}

.meal__title{

}

.meal__description{

}

.meal__price{

}

.meal_price-value{

}

.meal_price-currency{

}

.meat__weight{

}

.col-md-6 col-sm-12{

}

.opt-quontity{

}

.quont-minus{

}

.quont-plus{

}

.meal-wrapper{

}

.meal__foto{

}

.meal__title{

}

.meal__description{

}

.meal__price{

}

.meal_price-value{

}

.meal_price-currency{

}

.meat__weight{

}

.col-md-6 col-sm-12{

}

.opt-quontity{

}

.quont-minus{

}

.quont-plus{

}

.meal-wrapper{

}

.meal__foto{

}

.meal__title{

}

.meal__description{

}

.meal__price{

}

.meal_price-value{

}

.meal_price-currency{

}

.meat__weight{

}

.meat-amount{

}

.meat-amount__value{

}

.meat-amount__currency{

}

.meat-form row{

}

.col-md-6 col-xs-12{

}

.col-md-6 col-xs-6{

}

.col-md-6 col-xs-12{

}

.col-md-6 col-xs-6{

}

.col-md-6 col-xs-12{

}

.col-md-6 col-xs-6{

}

.col-md-6 col-xs-12{

}

.col-md-6 col-xs-6{

}

.col-md-12 col-xs-12{

}

.col-md-6 col-xs-12{

}

.col-md-6 col-xs-6{

}

footer {
	text-align: center;
	padding-bottom: 30px;
}
.b__logo-footer{
	margin-bottom: 20px;
}

.b__copyright,
.b__location,
.b-footer-phone,
.b-footer-phone a{
	font-size: 18px;
	color: #f0e5af;
	margin-bottom: 6px;
	letter-spacing: 1px;
	text-decoration: none;
	text-shadow:0 0 2px rgba(0,0,0,.36);
}













/* TYPOGRAPHY */

.u-content p,.u-content li,.u-content td {
	font: 12px/16px Tahoma, Arial, Verdana, sans-serif;
	margin: 0 0 12px;

}

.u-content h1 {
	font: normal bold 24px/26px  Arial, Helvetica, sans-serif;
	margin-bottom:4px;
	color: #444;
}

.u-content h2  {
	font: normal normal 18px/20px  Arial, Helvetica, sans-serif;
	margin-bottom:4px;
	color: #444;
}

.u-content h3 {
	font: normal bold 14px/16px Arial, Helvetica, sans-serif;
	color: #444;
	margin-bottom:4px;
}

.u-content h4 {
	font: normal bold 12px/12px  Arial, Helvetica, sans-serif;
	margin-bottom:4px;
	color: #444;
}

.u-content h5 {
	font: normal bold 11px/11px  Arial, Helvetica, sans-serif;
	margin-bottom:4px;
	color: #444;
}

.u-content table {width:100%; border-collapse: collapse;border-spacing: 0; margin: 15px 0;}
.u-content td, .u-content th {padding:5px; border:solid 1px #ccc;}


.u-content ul, .u-content ol {margin: 10px 0 15px 20px} 
.u-content ul li {margin:0 0 5px 15px; list-style-type:disc;}
.u-content ol li {margin:0 0 5px 18px; list-style-type: decimal;}
.u-content hr{
	height:0;
	line-height: 0;
	font-size: 0;
	display: block;
	border:none;
	border-bottom:solid 1px #Dfdfdf;
	margin:15px 0;
}

.noborder, noborder td {
	border:none important!;
}

.justifyleft{float:left;}
img.justifyleft{margin:0 12px 12px 0;}
.justifyright{float:right;}
img.justifyright{margin:0 0 12px 12px;}









/* Footer
-----------------------------------------------------------------------------*/
footer {

	position: relative;

}

footer a, footer a:visited {
	
}
footer a:hover {
	
}

footer .col-1{
	

}

footer .col-2{
	
}

footer .col-3{
	
}

